<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<h1>Add Employee</h1>
<a href="/">Home</a>

<form action="/employees/add" method="post">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="surname" placeholder="Surname"><br>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="text" name="phoneNumber" placeholder="Phone Number"><br>
    <input type="number" name="salary" placeholder="Salary"><br>
    <input type="password" name="password" placeholder="password"><br>
    <select name="position">
        <option value="JUNIOR">JUNIOR</option>
        <option value="MIDL">MIDL</option>
        <option value="SIGNOR">SIGNOR</option>
    </select>
    <select name="roleEmployee">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
    </select><br>
    <select name="company.id">
        <option th:each="company : ${companys}" th:text="${company.name}"
                th:value="${company.id}"></option>
    </select><br>
    <input type="submit" value="Add Employee">
</form>
</body>
</html>